body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
input{
	display: block;
	margin-top: 5px;
}

input[type="text"]{
	padding: 10px;
	box-shadow: none;
}
